/* Linechart.css */
.result-box {
    font-family: 'Montserrat', sans-serif;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
  }
  
  .result-box h2 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .line-chart {
    margin-top: 30px;
    margin-bottom: 20px;

  }
  
  .line-chart h3 {
    color: #333;
    text-align: center;
    margin-bottom: 10px;
  }
  
  /* Chart.js default styles for canvas */
  .chartjs-render-monitor {
    width: 100% !important;
    height: auto !important;
  }
  
  /* Customize Chart.js tooltip */
  .tooltip {
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Custom styles for legends and labels */
  .legend {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  .legend-item {
    display: inline-block;
    margin: 0 10px;
  }
  
  .legend-color-box {
    width: 14px;
    height: 14px;
    display: inline-block;
    margin-right: 5px;
  }
  
  /* Responsive settings */
  @media (max-width: 800px) {
    .result-box {
      margin: 10px;
    }
  
    .line-chart h3 {
      font-size: 1.2em;
    }
  }

  /* size of chart container */
.chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 900px;
    height: 800px; /* You can adjust the height as needed */
    margin: auto;
  }
  
  /* Ensuring chart is sharp */
  canvas {
    display: block; /* Remove canvas default inline behavior to avoid extra space at the bottom */
    width: 800px !important; 
    height: 400px !important; 
  }
  
  
  