.result-box {
    background: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    max-width: 800px;
    margin: 10px auto;
    text-align: center;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}