.button {
  padding: 10px 20px;
  border-radius: 57px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
  margin-right: 10px;
}

.button-solid-orange {
  background-color: #FFA62B;
  color: #ffffff;
  border: none;
}

.button-solid-orange:hover {
  background-color: #d78c22;
}

.button-outlined-orange {
  background-color: transparent;
  color: #d78c22;
  border: 2px solid #d78c22;
}
.button-outlined-orange:hover {
  background-color: #d78c22;
  color: #ffffff;
}

.button-solid-blue {
  background-color: #00A0C1;
  color: #ffffff;
  border: none;
}

.button-solid-blue:hover {
  background-color: #007589;
}

.button-outlined-blue {
  background-color: transparent;
  color: #00A0C1;
  border: 2px solid #00A0C1;
}

.button-outlined-blue:hover {
  background-color: #00A0C1;
  color: #ffffff;
}
