.model-section {
    background-color: white;
    padding: 20px;  /* adjust as needed */
  }
  
  .orange-button {
    background-color: orange;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .orange-button:hover {
    background-color: darkorange;  /* adjust hover color as you like */
  }
  