.optimizerBox {
    flex-direction: row;
    position: relative;
    border-radius: 10px;
    border: 1px solid #bdbdbd;
    background: #f9f9f9;
    padding: 20px;
    margin: 10px 10px 30px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    max-width: 30%; 
}


.flexContainer {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-top: 15px;
    align-items: center; 
}

.tooltip-opti {
    position: absolute; 
    top: 10px;           
    right: 10px;         
    padding: 10px;      
    cursor: pointer; /* Change cursor to indicate it's clickable */
    display: inline-block; 
    margin-left: 0.3px; 
    cursor: pointer;
    font-size: large; 
    width: 8px; 
    height: 3px; 
    line-height: 4px; /* center the '?' vertically */
    text-align: center; /* center the '?' horizontally */
    border-radius: 50%; /* round edges */
    background-color: #f0f0f0; 
    color: #333; 
    box-shadow: 0 1px 2px rgba(0,0,0,0.2); 
    vertical-align: middle; 
    border: 1px solid #dcdcdc;
  }
  

.inputGroup {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    align-items: center;
}

.textInput {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.textInput label {
    margin-bottom: 5px;
}

.textInput input {
    border-radius: 5px;
    border: 1px solid #bdbdbd;
    background: #f9f9f9;
    padding: 5px;
}

Dropdown,
TextInput {
    width: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity to control the darkness of the overlay */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    border-radius: 10px;
}

.overlayText {
    color: #d78c22;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

.overlayButton {
    z-index:2;
}