.optimizerBox {
    position: relative;
    border-radius: 10px;
    border: 1px solid #bdbdbd;
    background: #f9f9f9;
    padding: 20px;
    margin: 10px 0;
}

.optimizerBox h2 {
    margin-bottom: 15px;
}

.flexContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
}

.inputGroup {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.textInput {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.textInput label {
    margin-bottom: 5px;
}

.textInput input {
    border-radius: 5px;
    border: 1px solid #bdbdbd;
    background: #f9f9f9;
    padding: 5px;
}

Dropdown,
TextInput {
    width: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity to control the darkness of the overlay */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    border-radius: 10px;
}
