.results-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.table-container {
    max-width: 100%;
    max-height: 800px;
    overflow-x: auto;
    margin-bottom: 20px;
  }

.table-with-lines {
    width: 100%;
    border-collapse: collapse;
    overflow: auto;
}

.table-with-lines th,
.table-with-lines td {
    border: 1px solid #ddd;
    padding: 5.5px;
}

.table-with-lines th {
    background-color: #f2f2f2;
}

.table-with-lines thead th {
    position: sticky;
    top: 0;
}

.highlighted-row {
    background-color: rgb(255, 166, 41, 0.7)
}

.explanation-section {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    width: 97%;
  }

  .explanation-section h3 {
    text-align: left;
  }

  .explanation-content {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
  }

  .custom-tooltip {
    z-index: 9999;
  }

  .yetAnother-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    height: 100%; 
    max-height: 800px;
  }

