.modelBox {
    border-radius: 10px;
    border: 1px solid #BDBDBD;
    background: #F9F9F9;
    padding: 20px;
    margin: 10px 10px 30px 10px;
    display: flex;
  flex-direction: column;
  align-items: center;
    
}

.textInput {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.textInput label {
    margin-bottom: 5px;
    display: flex;
}

.textInput input {
    border-radius: 5px;
    border: 1px solid #BDBDBD;
    background: #F9F9F9;
    padding: 5px;
    display: flex;
}

.flexContainerModelbox {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px; 
}

.numbered-heading {
    display: flex; 
    align-items: center; /* Aligns children vertically in the center */
    gap: 10px; 
    padding-bottom: 10px;
  }
  
  .number-circle {
    background-color: #333; /* Or any color you want */
    color: white;
    border-radius: 50%; /* This makes it round */
    display: flex; 
    justify-content: center;
    align-items: center;
    font-weight: bold;
    width: 30px; /* Size of the circle */
    height: 30px; /* Size of the circle */
    margin-right: 10px; 
  }
  
  h2 {
    margin: 0; 
  }


.dropdown {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: start;
    flex: 0 1 auto; 
}

.dropdown select { /* style the select element inside Dropdown similarly to input elements */
    border-radius: 5px;
    border: 1px solid #BDBDBD;
    background: #F9F9F9;
    padding: 5px;
    display: flex;
}