.modelBox {
    position: relative;
    border-radius: 10px;
    border: 1px solid #bdbdbd;
    background: #f9f9f9;
    padding: 20px;
    margin: 10px 10px 30px 10px;
    display: flex;
  flex-direction: column;
  align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    margin-top: 15px;

}

.textInput {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.textInput label {
    margin-bottom: 5px;
    display: flex;
}

.textInput input {
    border-radius: 5px;
    border: 1px solid #bdbdbd;
    background: #f9f9f9;
    padding: 5px;
    display: flex;
}

.flexContainerModelbox {
    display: flex;
    gap: 25px;
    align-items: center;
    margin-bottom: 10px; 
    flex-wrap: wrap;
}

.flexContainerTooltipParameter{
    display: flex; /* Aligns the text input and tooltip in a row */
    align-items: center; /* Aligns items vertically in the center */
    gap: 5px; /* Space between the text input and tooltip within the pair */
    margin-right: 20px; 
}


.numbered-heading {
    display: flex; 
    align-items: center; /* Aligns children vertically in the center */
    gap: 10px; 
    padding-bottom: 10px;
  }
  
  .number-circle {
    background-color:hsl(0, 1%, 53%); 
    color: white;
    border-radius: 50%; /* makes it round */
    display: flex; 
    justify-content: center;
    align-items: center;
    font-weight: bold;
    width: 30px; /* Size of the circle */
    height: 30px; /* Size of the circle */
    margin-right: 1px; 
  }
  


  h2 {
    margin: 0; 
  }


.dropdown {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: start;
    flex: 0 1 auto; 
}


.dropdown select { /* style the select element inside Dropdown similarly to input elements */
    border-radius: 5px;
    border: 1px solid #BDBDBD;
    background: #F9F9F9;
    padding: 5px;
    display: flex;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    border-radius: 10px;
}



