.globalParameterBox {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 2; /* Each child will take equal amount of space */
    margin: 5px; /* Optional: Adds some margin around each box */
}

.columns {
    display: flex;
    justify-content: space-between;
}

.column {
    flex: 1;
    padding: 0 10px;
}

.flexContainerGlobalParameterbox {
    flex-direction: column;
    justify-content: left;
    align-items: center;
  
}

.tooltip-opt {
    position: absolute; 
    top: 0px;           
    left: 410px;         
    padding: 10px;      
    cursor: pointer; /* Change cursor to indicate it's clickable */
    display: inline-block; 
    margin-left: 0.3px; 
    cursor: pointer;
    font-size: large; 
    width: 8px;
    height: 3px; 
    line-height: 4px; /* center the '?' vertically */
    text-align: center; /* center the '?' horizontally */
    border-radius: 50%; /* round edges */
    background-color: #f0f0f0; 
    color: #333; 
    box-shadow: 0 1px 2px rgba(0,0,0,0.2); 
    vertical-align: middle; 
    border: 1px solid #dcdcdc;
  }
  

  .inputGroup {
    display: grid;
    grid-template-columns: 1.5fr 2fr; /* Adjust the ratio between label and input field */
    margin-bottom: 5px; /* Space between each input group */
}

.label {
    text-align: left; 
    padding-right: 10px; /* Space between label and its right border */
    align-self: center; /* Vertically center the label */
}

.textInput {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.textInput label {
    margin-bottom: 3px;
}

.textInput input {
    border-radius: 5px;
    border: 1px solid #bdbdbd;
    background: #f9f9f9;
    padding: 5px;
}

Dropdown,
TextInput {
    width: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity to control the darkness of the overlay */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    border-radius: 10px;
}

@media screen and (max-width: 600px) {
    .inputGroup {
        grid-template-columns: 1fr; /* Stack label and input vertically on smaller screens */
        text-align: left;
    }
    .label {
        padding-right: 0;
    }
}