html, body {
  height: 100%;
  margin: 0;
}

.App {
  text-align: center;
  background-image: url('./sunflower.png'); 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-content {
  display: flex;
  flex-direction: column; 
  align-items: center;
}


.ConfigurationBox {
  display: flex;
  justify-content: space-between;
  width: 80%; 
  margin: 20px 0; 
  
  border-radius: 8px;
  padding: 20px;
}
span[data-tip="true"] {
  border: 1px solid red; /* just for testing */
}

.CSVBox {
  flex: 5; /* Takes 6/8 */
  text-align: left;
}

.OptimizerBox {
  flex: 3; /* rest  */
  
}

.ModelBox {
  width: 60%; 
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  background-color: white;
  margin-top: 20px; 
}

.result-container {
  display: flex; /* lay out children side by side */
}

.majorResultContainer {
  border: 1px solid #BDBDBD;
  background: #F9F9F9;
  border-radius: 10px;
  width: 100%; /* Set the width or max-width as per your layout needs */
  text-align: center; 
  justify-content: flex-start;
  padding: 20px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.tooltip-trigger {
  display: inline;
  margin-left: 5px; /* or any space you prefer */
  cursor: pointer; /* Shows a pointer cursor on hover to indicate it is interactive */
}


.result-box {
  background: white; 
  flex: 1; /* Each child will take up equal amount of space */
  padding: 20px; /* Add some padding inside the boxes */
  margin: 20px; /* Add margin to separate from surrounding elements */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: adds a subtle shadow to the boxes */
}

.Table {
  margin: 20px 0;
}

.description-text {
  color: var(--second-text-color, #737373);
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.2px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
