.home-desktop {
    align-items: flex-start;
    background-color: #ffffff;
    border: 1px none;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  
  .home-desktop .header {
    align-self: stretch;
    background-color: #f9f9f9;
    height: 908px;
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  
  .home-desktop .overlap {
    height: 1066px;
    position: relative;
    width: 1440px;
  }
  
  .home-desktop .background {
    height: 1066px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1440px;
  }
  
  .home-desktop .overlap-group {
    background-image: url(https://generation-sessions.s3.amazonaws.com/647be0e4b08f75cbadc66a91f310e67c/img/cover.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 908px;
    position: relative;
  }
  
  .home-desktop .filter {
    height: 908px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 1440px;
  }
  
  .home-desktop .container {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    height: 830px;
    left: 135px;
    overflow: hidden;
    padding: 0px 0px 50px;
    position: absolute;
    top: 78px;
    width: 1246px;
  }
  
  .home-desktop .row {
    align-items: center;
    display: flex;
    gap: 50px;
    height: 549px;
    margin-right: -8px;
    position: relative;
    width: 1254px;
  }
  
  .home-desktop .container-info {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 522px;
    position: relative;
    width: 754px;
  }
  
  .home-desktop .h {
    color: var(--second-text-color);
    font-family: var(--h-4-font-family);
    font-size: var(--h-4-font-size);
    font-style: var(--h-4-font-style);
    font-weight: var(--h-4-font-weight);
    height: 92px;
    letter-spacing: var(--h-4-letter-spacing);
    line-height: var(--h-4-line-height);
    margin-top: -1px;
    position: relative;
    width: 754px;
  }
  
  .home-desktop .cta {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 10px;
    position: relative;
  }
  
  .home-desktop .button-btn-primary {
    align-items: center;
    background-color: var(--secondary-color-1);
    border-radius: 37px;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 10px;
    overflow: hidden;
    padding: 10px 36px;
    position: relative;
  }
  
  .home-desktop .text-wrapper {
    color: var(--light-text-color);
    font-family: var(--btn-text-font-family);
    font-size: var(--btn-text-font-size);
    font-style: var(--btn-text-font-style);
    font-weight: var(--btn-text-font-weight);
    letter-spacing: var(--btn-text-letter-spacing);
    line-height: var(--btn-text-line-height);
    margin-top: -1px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
  }
  
  .home-desktop .btn-text-wrapper {
    align-items: center;
    border: 1px solid;
    border-color: var(--secondary-color-1);
    border-radius: 37px;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 10px;
    overflow: hidden;
    padding: 10px 36px;
    position: relative;
  }
  
  .home-desktop .btn-text {
    color: var(--secondary-color-1);
    font-family: var(--btn-text-font-family);
    font-size: var(--btn-text-font-size);
    font-style: var(--btn-text-font-style);
    font-weight: var(--btn-text-font-weight);
    letter-spacing: var(--btn-text-letter-spacing);
    line-height: var(--btn-text-line-height);
    margin-top: -1px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
  }
  
  .home-desktop .div {
    color: var(--second-text-color);
    font-family: var(--h-4-font-family);
    font-size: var(--h-4-font-size);
    font-style: var(--h-4-font-style);
    font-weight: var(--h-4-font-weight);
    letter-spacing: var(--h-4-letter-spacing);
    line-height: var(--h-4-line-height);
    position: relative;
    width: 625px;
  }
  
  .home-desktop .placeholder-csv-file {
    height: 143px;
    position: relative;
    width: 658px;
  }
  
  .home-desktop .p {
    color: var(--second-text-color);
    font-family: var(--h-4-font-family);
    font-size: var(--h-4-font-size);
    font-style: var(--h-4-font-style);
    font-weight: var(--h-4-font-weight);
    height: 92px;
    letter-spacing: var(--h-4-letter-spacing);
    line-height: var(--h-4-line-height);
    position: relative;
    width: 754px;
  }
  
  .home-desktop .col-md {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    height: 518px;
    position: relative;
    width: 413px;
  }
  
  .home-desktop .card-item {
    align-items: center;
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 484px;
    overflow: hidden;
    padding: 10px 40px 20px;
    position: relative;
    width: 379px;
  }
  
  .home-desktop .h-2 {
    color: var(--text-color);
    font-family: var(--h-3-font-family);
    font-size: var(--h-3-font-size);
    font-style: var(--h-3-font-style);
    font-weight: var(--h-3-font-weight);
    letter-spacing: var(--h-3-letter-spacing);
    line-height: var(--h-3-line-height);
    margin-top: -1px;
    position: relative;
    text-align: center;
    width: 180px;
  }
  
  .home-desktop .card-content {
    align-items: flex-start;
    align-self: stretch;
    background-color: #ffffff;
    border-radius: 1px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 295px;
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  
  .home-desktop .form-group-custom {
    align-self: stretch;
    height: 86px;
    position: relative;
    width: 100%;
  }
  
  .home-desktop .form-control {
    color: var(--text-color);
    font-family: var(--h-6-font-family);
    font-size: var(--h-6-font-size);
    font-style: var(--h-6-font-style);
    font-weight: var(--h-6-font-weight);
    left: 0;
    letter-spacing: var(--h-6-letter-spacing);
    line-height: var(--h-6-line-height);
    position: absolute;
    top: -1px;
    width: 222px;
  }
  
  .home-desktop .custom-select {
    height: 50px;
    left: 0;
    position: absolute;
    top: 36px;
    width: 299px;
  }
  
  .home-desktop .select {
    background-color: #ffffff;
    height: 50px;
  }
  
  .home-desktop .option {
    background-color: #f8f8f8;
    border: 1px solid;
    border-color: var(--muted-color);
    border-radius: 5px;
    height: 50px;
    overflow: hidden;
    position: relative;
    width: 299px;
  }
  
  .home-desktop .dropdown {
    color: var(--second-text-color);
    font-family: "Montserrat", Helvetica;
    font-size: 14px;
    font-weight: 400;
    left: 18px;
    letter-spacing: 0.2px;
    line-height: 28px;
    position: absolute;
    top: 10px;
    white-space: nowrap;
  }
  
  .home-desktop .vector {
    height: 8px;
    left: 265px;
    position: absolute;
    top: 21px;
    width: 14px;
  }
  
  .home-desktop .form-group {
    align-self: stretch;
    height: 91px;
    position: relative;
    width: 100%;
  }
  
  .home-desktop .form-control-2 {
    color: var(--text-color);
    font-family: var(--h-6-font-family);
    font-size: var(--h-6-font-size);
    font-style: var(--h-6-font-style);
    font-weight: var(--h-6-font-weight);
    left: 0;
    letter-spacing: var(--h-6-letter-spacing);
    line-height: var(--h-6-line-height);
    position: absolute;
    top: -1px;
    width: 219px;
  }
  
  .home-desktop .form-control-input {
    background-color: #f8f8f8;
    border: 1px solid;
    border-color: #bdbdbd;
    border-radius: 5px;
    height: 50px;
    left: 2px;
    position: absolute;
    top: 34px;
    width: 296px;
  }
  
  .home-desktop .form-control-3 {
    color: var(--text-color);
    font-family: var(--h-6-font-family);
    font-size: var(--h-6-font-size);
    font-style: var(--h-6-font-style);
    font-weight: var(--h-6-font-weight);
    left: 0;
    letter-spacing: var(--h-6-letter-spacing);
    line-height: var(--h-6-line-height);
    position: absolute;
    top: -1px;
    width: 166px;
  }
  
  .home-desktop .dropdown-2 {
    color: var(--second-text-color);
    font-family: "Montserrat", Helvetica;
    font-size: 14px;
    font-weight: 400;
    left: 18px;
    letter-spacing: 0.2px;
    line-height: 28px;
    position: absolute;
    top: 10px;
    width: 1px;
  }
  
  .home-desktop .div-wrapper {
    align-items: center;
    align-self: stretch;
    background-color: var(--primary-color);
    border-radius: 5px;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 10px;
    overflow: hidden;
    padding: 15px 40px;
    position: relative;
    width: 100%;
  }
  
  .home-desktop .btn-text-2 {
    color: var(--light-text-color);
    font-family: var(--btn-text-font-family);
    font-size: var(--btn-text-font-size);
    font-style: var(--btn-text-font-style);
    font-weight: var(--btn-text-font-weight);
    letter-spacing: var(--btn-text-letter-spacing);
    line-height: var(--btn-text-line-height);
    margin-top: -1px;
    position: relative;
    text-align: center;
    width: 116px;
  }
  
  .home-desktop .img {
    height: 237px;
    margin-bottom: -6px;
    position: relative;
    width: 1217px;
  }
  
  .home-desktop .navbar-style {
    height: 78px;
    left: 59px;
    position: absolute;
    top: 0;
    width: 1322px;
  }
  
  .home-desktop .features {
    align-self: stretch;
    background-color: #f9f9f9;
    height: 816px;
    position: relative;
    width: 100%;
  }
  
  .home-desktop .overlap-2 {
    height: 816px;
    position: relative;
    width: 1440px;
  }
  
  .home-desktop .filter-wrapper {
    background-color: #16697a;
    height: 407px;
    left: 0;
    position: absolute;
    top: 409px;
    width: 1440px;
  }
  
  .home-desktop .frame-wrapper {
    background-color: #00000080;
    height: 407px;
  }
  
  .home-desktop .frame {
    align-items: flex-start;
    display: inline-flex;
    gap: 20px;
    left: 163px;
    position: relative;
    top: 222px;
  }
  
  .home-desktop .paragraph {
    color: var(--light-text-color);
    font-family: var(--paragraph-font-family);
    font-size: var(--paragraph-font-size);
    font-style: var(--paragraph-font-style);
    font-weight: var(--paragraph-font-weight);
    letter-spacing: var(--paragraph-letter-spacing);
    line-height: var(--paragraph-line-height);
    margin-top: -1px;
    position: relative;
    width: 589px;
  }
  
  .home-desktop .paragraph-2 {
    color: var(--light-text-color);
    font-family: var(--paragraph-font-family);
    font-size: var(--paragraph-font-size);
    font-style: var(--paragraph-font-style);
    font-weight: var(--paragraph-font-weight);
    letter-spacing: var(--paragraph-letter-spacing);
    line-height: var(--paragraph-line-height);
    margin-top: -1px;
    position: relative;
    width: fit-content;
  }
  
  .home-desktop .row-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 50px;
    left: 195px;
    padding: 80px 0px;
    position: absolute;
    top: 0;
    width: 1050px;
  }
  
  .home-desktop .main-content-wrapper {
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    position: relative;
    width: 864px;
  }
  
  .home-desktop .main-content {
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 10px;
    position: relative;
    width: 864px;
  }
  
  .home-desktop .h-3 {
    color: var(--text-color);
    font-family: var(--h-3-font-family);
    font-size: var(--h-3-font-size);
    font-style: var(--h-3-font-style);
    font-weight: var(--h-3-font-weight);
    letter-spacing: var(--h-3-letter-spacing);
    line-height: var(--h-3-line-height);
    margin-top: -1px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
  }
  
  .home-desktop .paragraph-3 {
    color: var(--second-text-color);
    font-family: var(--paragraph-font-family);
    font-size: var(--paragraph-font-size);
    font-style: var(--paragraph-font-style);
    font-weight: var(--paragraph-font-weight);
    letter-spacing: var(--paragraph-letter-spacing);
    line-height: var(--paragraph-line-height);
    position: relative;
    text-align: center;
    width: fit-content;
  }
  
  .home-desktop .frame-placeholder {
    height: 396px;
    left: 163px;
    position: absolute;
    top: 216px;
    width: 1198px;
  }
  
  .home-desktop .footer {
    align-self: stretch;
    background-color: var(--text-color);
    height: 214px;
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  
  .home-desktop .div-2 {
    height: 142px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1440px;
  }
  
  .home-desktop .container-2 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    left: 195px;
    padding: 40px 0px;
    position: relative;
    width: 1050px;
  }
  
  .home-desktop .row-2 {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 570px;
    position: relative;
  }
  
  .home-desktop .navbar-brand-wrapper {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    width: 236px;
  }
  
  .home-desktop .navbar-brand {
    height: 58px;
    position: relative;
    width: 187px;
  }
  
  .home-desktop .text-wrapper-2 {
    color: var(--light-text-color);
    font-family: var(--h-3-font-family);
    font-size: var(--h-3-font-size);
    font-style: var(--h-3-font-style);
    font-weight: var(--h-3-font-weight);
    left: 0;
    letter-spacing: var(--h-3-letter-spacing);
    line-height: var(--h-3-line-height);
    position: absolute;
    top: 12px;
    white-space: nowrap;
  }
  
  .home-desktop .col-md-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 243px;
  }
  
  .home-desktop .logos-wrapper {
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    position: relative;
    width: 236px;
  }
  
  .home-desktop .logos {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 20px;
    position: relative;
  }
  
  .home-desktop .text-wrapper-3 {
    color: #ffffff;
    font-family: var(--h-3-font-family);
    font-size: var(--h-3-font-size);
    font-style: var(--h-3-font-style);
    font-weight: var(--h-3-font-weight);
    letter-spacing: var(--h-3-letter-spacing);
    line-height: var(--h-3-line-height);
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .home-desktop .div-3 {
    background-color: var(--secondary-color-2);
    height: 74px;
    left: 0;
    position: absolute;
    top: 142px;
    width: 1440px;
  }
  
  .home-desktop .container-3 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    left: 195px;
    padding: 25px 0px;
    position: relative;
    width: 1050px;
  }
  
  .home-desktop .row-3 {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 213px;
    position: relative;
  }
  
  .home-desktop .col-md-2 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 600px;
  }
  
  .home-desktop .text-wrapper-4 {
    color: var(--light-text-color);
    font-family: var(--h-6-font-family);
    font-size: var(--h-6-font-size);
    font-style: var(--h-6-font-style);
    font-weight: var(--h-6-font-weight);
    letter-spacing: var(--h-6-letter-spacing);
    line-height: var(--h-6-line-height);
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  